<!--<?xml version='1.0' encoding='utf-8'?>-->
<!--<!DOCTYPE hibernate-configuration PUBLIC-->
        <!--"-//Hibernate/Hibernate Configuration DTD//EN"-->
        <!--"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">-->
<!--<hibernate-configuration>-->
    <!--<session-factory>-->
        <!--&lt;!&ndash;<property name="connection.url"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="connection.driver_class"/>&ndash;&gt;-->
        <!--&lt;!&ndash; <property name="connection.username"/> &ndash;&gt;-->
        <!--&lt;!&ndash; <property name="connection.password"/> &ndash;&gt;-->

        <!--&lt;!&ndash; DB schema will be updated if needed &ndash;&gt;-->
        <!--&lt;!&ndash; <property name="hbm2ddl.auto">update</property> &ndash;&gt;-->
        <!--<property name="connection.driver_class">com.mysql.jdbc.Driver</property>-->
        <!--<property name="connection.username">root</property>-->
        <!--<property name="connection.password">123456</property>-->
        <!--<property name="connection.url">jdbc:mysql://localhost:3306/lucene?createDatabaseIfNotExist=true&amp;useUnicode=true&amp;characterEncoding=utf8</property>-->

        <!--&lt;!&ndash; 要根据自己使用的数据库来配置相对应的属性，也成方言，针对不同数据库关于怎么配置可以查看HibernateAPI&ndash;&gt;-->
        <!--<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>-->

        <!--&lt;!&ndash; Hibernate 創建的SQL語句会显示在控制台 &ndash;&gt;-->
        <!--<property name="hibernate.show_sql">true</property>-->
        <!--&lt;!&ndash; 格式化sql &ndash;&gt;-->
        <!--<property name="hibernate.format_sql">true</property>-->

        <!--&lt;!&ndash; 选择方案，常用值：validate | update | create | create-drop &ndash;&gt;-->
        <!--<property name="hbm2ddl.auto">update</property>-->

        <!--<mapping class="graduation.cwz.entity.User"></mapping>-->
    <!--</session-factory>-->
<!--</hibernate-configuration>-->