<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>首页</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<script src="js/vue.js"></script>
<script src="js/vue-resource.js"></script>
<script src="js/index.js"></script>

<!--<link rel="stylesheet" href="css/input.css" type="text/css" />-->
<link rel="icon" href="img/icon.jpg">
<link rel="stylesheet" href="css/index.css">

</head>

<script>

</script>

<body>
    <header>
    <nav>
        <ul class="nmb">
            <li><a href="#" onclick="showRegister()">注册</a></li>
            <li><a href="#" onclick="showLogin()">登录</a></li>
            <li class="settings"><a href="#">设置</a>
                <div class="setbox">
                    <div class="box">
                        <div class="triangle1"></div>
                        <div class="triangle2"></div>
                    </div>
                    <ul class="setItem">
                            <li>搜索设置</li>                                                                                                                                                                                                                                                                                                                                                                                                            <li>搜索设置</li>
                            <li>高级设置</li>
                            <li>关闭预测</li>
                            <li>搜索历史</li>
                    </ul>
                </div>
            </li>
            <li id="more">
                    <a href="#">菜单</a>
                    <div>
                        <span>菜单</span>
                        <br/>
                        <a href="#" class="imgItem">
                            <span class="imglist music">
                            </span>
                            用户管理
                        </a>
                        <a href="#" class="imgItem">
                            <span class="imglist tupian">
                            </span>
                            信息管理
                        </a>
                        <a href="#" class="imgItem">
                            <span class="imglist zhidao">
                            </span>
                            搜索记录
                        </a>
                    </div>
            </li>
        </ul>
    </nav>
    </header>

    <section>
        <img src="img/title.PNG" alt="未加载成功">
            <div id="box" >
                <sapn class="center">
                <span class="center_left">
                    <input id="input" type="text" v-model="t1" @keydown="get($event)" @keydown.down="changeDown()" @keydown.up.prevent="changeUp()" value="请输入你想要搜索的关键字" onfocus="clearText(this)">
                    <ul id="boxUl" v-if="isShow">
                        <li v-text="value" v-for="value in myData" :class="{gray:$index==now}" @click="clk($event)" >
                            <!--{{value}}-->
                        </li>
                    </ul>
                </span>
                <span class="center_right">
                    <input type="button" value="搜索" @click="search()">
                </span>
                </sapn>

            </div>
    </section>
    <div id="backgroundColor"></div>
    <div id="loginForm">
        <div><label for="userName">用户名：</label><input type="text" id="userName"></div>
        <div><label for="userPassword">密码：&nbsp;</label><input type="password" id="userPassword"></div>
        <div><input type="button" id="login" value="登录" onclick="login()"></div>
        <span id="close" onclick="hideLogin()">x</span>
    </div>
    <div id="registerForm">
        <div><label for="userName_r">用户名：</label><input type="text" id="userName_r"></div>
        <div><label for="userPassword_r">密码：&nbsp;</label><input type="password" id="userPassword_r"></div>
        <div><label>密码确认：&nbsp;</label><input type="password" id = "repeatPassword"></div>
        <div><input type="button" id="register" value="注册" onclick="register()"></div>
        <span id="close_r" onclick="hideRegister()">x</span>
    </div>

<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
    <p>产品功能如下</p>
    <p>·用户管理：用户注册、用户登陆、数据库存储用户信息</p>
    <p>·信息管理：提交信息、存储信息、搜索信息、显示信息</p>
    <p>·基于Lucene的检索引擎</p>
    <p>·提交搜索信息，在网站中检索匹配的信息并展示</p>
    <p>·在未来有人提交了匹配信息时，可以收到邮件反馈</p>
</div>
<div id = "output">
0.0
</div>
</body>
</html>
